*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    letter-spacing: 1px;
    padding-top: 200px;
    text-align: center;
    padding-left: 100px;
    font-size: 20px;
    padding: 0;
    min-width: 1200px;
    min-height: 100vh;
}
#elvalasztoDiv{
    height: 170vh;
    width: 20px;
    background-color: orange;
    display: inline-block;
    border: 1px solid orange;
    border-radius: 5px;
    margin-left: 15vw;
}
hr{
    border: 3px solid white;
    border-radius: 5px;
    width: 80%;
    margin: auto;
}
/*Table*/
.tableBasic{
    border: 2px solid red;
    border-collapse: collapse;
    background-color: orange;
    color: #115611;
    padding: 10px;
}
.noBorder{
    border: none;
    border-radius: 5px;
}
#felsorolasTablazat{
    color: white;
    margin: auto;
    border: 2px solid white;
    border-collapse: collapse;
}
/*Gomb*/
button{
    background-color: orange;
    font-weight: bold;
    border: 2px solid orangered;
    border-radius: 5px;
    width: 250px;
    font-size: 20px;
}
#buttonActive{
    background-color: orangered;
    font-weight: bold;
    border: 2px solid orange;
    border-radius: 5px;
    width: 250px;
    font-size: 20px;
}
button:hover{
    transform: scale(1.2);
    animation-name: buttonHover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes buttonHover{
    0% {border: 3px solid orange;}
    25% {border: 3px solid orangered;}
    50% {border: 3px solid red;}
    75% {border: 3px solid yellow;}
    100% {border: 3px solid orange;}
}

/*Anchor links*/
a{
    color: #115611;
    text-decoration: none;
}

/*Connections*/
#connection{
    color: white;
    text-decoration: underline;
    padding-bottom: 20px;
}

/*Sidebar*/
.header{
            width: 100%;
            height: 130px;
            padding: 0 10px;
            background: orange;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .check, .toggle-cross{
            width: 42px;
            height: 30px;
            position: absolute;
            left: 10px;
        }
        .check{
            z-index: 4;
            cursor: pointer;
            opacity: 0;
        }
        .toggle-cross{
            z-index: 3;
        }
        .ln1{
            top: 0;
        }
        .ln2{
            width: 80%;
            top: 50%;
            transform: translateY(-50);
        }
        .ln3{
            width: 100%;
            top: 100%;
            transform: translateY(-100);
        }
        .check:checked ~ .toggle-cross .ln1{
            top: 50%;
            transform: translate(0, -50%) rotate(45deg);
        }
        .check:checked ~ .toggle-cross .ln2{
            width: 0;
            opacity: 0;
        }
        .check:checked ~ .toggle-cross .ln3{
            top: 50%;
            transform: translate(0, -50%) rotate(-45deg);
        }
        .line{
            position: absolute;
            width: 100%;
            height: 15%;
            background: white;
            transform-origin: center;
            border-radius: 2.25px;
            transition: 0.5s all linear;
        }
        .header{
            color: white;
        }
        .menu{
            width: 30%;
            height: 2500px;
            padding-top: 80px;
            list-style: none;
            color: white;
            background: orange;
            position: absolute;
            left: -50%;
            top: 0;
            z-index: 2;
            opacity: 0.5;
            transition: 0.5s all linear;
        }
        .check:checked ~ .menu{
            left: 0;
            opacity: 1;
        }
        .menu li{
            padding: 10px;
            font-size: 18px;
        }
        .menu li:hover{
            background: #02a9fc;
            cursor: pointer;
        }