html, body{
    height: 100%;
    margin: 0;
}

body{
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    letter-spacing: 1px;
    padding-top: 200px;
    text-align: center;
    padding-left: 100px;
    font-size: 20px;
    padding: 0;
    min-width: 1200px;
    min-height: 100vh;
}
#elvalasztoDiv{
    height: 100vh;
    width: 20px;
    background-color: orange;
    display: inline-block;
    float: middle;
    border: 1px solid orange;
    border-radius: 5px;
    margin-left: 15vw;
}
hr{
    border: 3px solid white;
    border-radius: 5px;
    width: 80%;
}
table, td, th{
    border: 2px solid red;
    border-collapse: collapse;
    background-color: orange;
    color: #115611;
    padding: 10px;
}
.noBorder{
    border: none;
    border-radius: 5px;
}
/*Gomb*/
button{
    background-color: orange;
    font-weight: bold;
    border: 2px solid orangered;
    border-radius: 5px;
    width: 250px;
    font-size: 20px;
}
#buttonActive{
    background-color: orangered;
    font-weight: bold;
    border: 2px solid orange;
    border-radius: 5px;
    width: 250px;
    font-size: 20px;
}
button:hover{
    transform: scale(1.2);
    animation-name: buttonHover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes buttonHover{
    0% {border: 3px solid orange;}
    25% {border: 3px solid orangered;}
    50% {border: 3px solid red;}
    75% {border: 3px solid yellow;}
    100% {border: 3px solid orange;}
}

/*Anchor links*/
a{
    color: #115611;
    text-decoration: none;
}

/*Connections*/
#connection{
    color: white;
    text-decoration: underline;
}